<h2>Make your team</h2>

<%= render 'form' %>

<div class="clearfix"></div>

<% if @teams.any? %>
	<h2>All teams</h2>

	<ul class="learn-moments show competency">
		<% @teams.each do |team| %>
			<li>
				<%= team.title %>
				<% if !TeamRequest.where(:user_id => current_user.id, :team_id => team.id).any? %>
					<%= link_to "Join", join_team_path(:team_id => team.id), :class => 'btn new' %>
				<% else %>
					<%= link_to "Undo", undo_team_path(:team_id => team.id), :class => 'btn delete' %>
				<% end %>
			</li>
		<% end %>
	</ul>
<% end %>
