<% if current_user.competencies.any? %>
	<div class='container'>
	  <div class='view bg-none competency-overview'>
				<h3>Competencie lijst</h3>
				<ul>
					<% current_user.competencies.each do |competency| %>
						<li>
							<%= link_to competency.title, competency_path(competency) %>
							<span class="ec">
								<%= competency.points %> ec
							</span>
						</li>
					<% end %>
				</ul>
		</div>
	</div>
<% end %>