<div class='container'>
	<div class='view clearfix'>
	<% if @competency.learn_moments.any? %>
		<h4>Leermomenten</h4>
		<div class='learn-moment'>
			<ul>
				<% @competency.learn_moments.each do |learn_moment| %>
					<li class='<%= cycle('odd', 'even') %>'>
						<p>
							<%= link_to learn_moment.title, learn_moment_path(learn_moment), class: 'basic-link' %>
						</p>
					</li>
				<% end %>
			</ul>
		</div>
	<% else %>
		<h3 class='block'>Voeg je eerste leermoment toe!</h3>
	<% end %>
		<%= link_to 'Leermoment', new_learn_moment_path(competency_id: @competency.id), class: 'btn new plus margin-fix' %>
	</div>
</div>