<div class='time-stroke'>
	<div class='hours-spend'>
		<% if @total_hours_spend > 0 %>
			<!-- total hours spend, in decimals -->
			<% total_hours_spend_decimal = @total_hours_spend.round(2) /2 %>
		<% else %>
			<% total_hours_spend_decimal = 0 %>
		<% end %>
	</div>

	<div class='hours-to-compleet'>
		<!-- total hours to compleet -->
		<% total_hours_to_compleet = competency.points * 10 %> 
	</div>

	<!-- getting back the procentage -->
	<% procentage = total_hours_spend_decimal / total_hours_to_compleet * 100 %>
	
	<div class='procentage' style='left: <%= procentage.round(2) if procentage < 100 %>%;'>
			<%= procentage.round() %>%
	</div>

	<!-- gives back the proces line --> 
	<div class='stroke' style='width: <%= procentage.round(2) %>%;'> 
	</div>
</div>
