<div class='time-stroke'>

	<!-- getting back the procentage -->
	<% procentage = (@total_hours_spend / (competency.points.to_f / 3 * 28) * 100).round() %>
	
	<div class='procentage' style='left: <%= procentage if procentage < 100 %>%;'>
			<%= procentage %>%
	</div>

	<!-- gives back the proces line --> 
	<div class='stroke' style='width: <%= procentage.round(2) %>%;'> 
	</div>
</div>