<%= link_to 'Add a competency', new_competency_path, :class => 'btn new in-top' %>

<h2>Competencies overview</h2>

<ul class="competency">
	<% @competencies.each do |competency| %>

		<% if competency.added %>
			<% @set_class_added = 'added-to-pop' %>
		<% else %>
			<% @set_class_added = 'not-added-to-pop' %>
		<% end %>

		<li class="<%= @set_class_added %> clearfix">
			<%= link_to competency.title, competency_path(competency.id) %>
		</li>

	<% end %>
</ul>