<div class='left'>
	<div class='container'>
		<div class='view clearfix form bg-none'>

			<%= render 'learning_goals/new' %>

		</div>
	</div>
</div>

<div class='right'>
	<div class="container">
		
		<div class='competency-detail'>
			<%= render 'competency_detail' %>
		</div>

		<%= render 'learning_goals/learning_goals' %>
	</div>

	<%= render 'learn_moments' %>

</div>
