<div class='left'>
	<div class='container'>
		<div class='view clearfix form bg-none'>
			<h4 class="border-none">Leerdoel toevoegen</h4>

			<%= render 'learning_goals/form' %>
		</div>
	</div>
</div>

<div class='right'>
		
	<%= render 'learning_goals' %>

	<%= render 'learn_moments' %>

</div>
