<% current_user.logs.each do |log| %>
	<% if competency.title == log.competency %>
		<li>
			<%= log.title %>
			<% if log.hours != nil %>		
				<span class="hours">
					<%= log.hours %> uren
					<% @total_hours = @total_hours + log.hours %>
				</span>
			<% end %>
		</li>
	<% end %>
<% end %>