<% current_user.logs.each do |log| %>
	<% if competency.title == log.competency %>
		<li>
			<%= log.title %>
			<% if log.hours != nil %>		
				<span class="hours">
					<%= @hours_list[log.hours - 1] %> uren
					<% @total_hours = @total_hours + @hours_list[log.hours - 1] %>
				</span>
			<% end %>
		</li>
	<% end %>
<% end %>