@import 'variables';

/* Forms input and select
------------------------------------------------------*/
.left {
	.form {
		ul {
			width: 100%;
		}
	}
}

label {
	color: $link-color;
}

.form {
	padding: $spacing;
	background: #fff;
	ul {
		width: 70%;
		margin: 0 auto;
	}
	h4 {
		font-size: 14px;
		padding: $spacing 0 0 0;
		font-weight: 700;
		font-family: Arial, Helvetica, sans-serif;
		border-top: 1px solid #ddd;
		&.border-none {
			border: none;
			padding-top: 0;
			margin-top: 0;
		}
	}
	h3 {
		margin-top: 0;
		font-size: 18px;
	}
}


form {
	li {
		margin: 0 14px 0 0;
	}
}
input[type="password"],
input[type="text"],
input[type="email"],
textarea,
select {
	font-size: 12px;
	width: 100%;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	color: #333;
	padding: $spacing/4 0 $spacing/4 $spacing/2;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	display: block;
	border-radius: 4px;
	height: $spacing;
	margin: $spacing/4 0 $spacing/2;
	&:focus {
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
		border-color: #66afe9;
	}
}

select {
	height: 32px;
	width: 80%;
}

textarea {
	min-height: 60px;
	padding: $spacing/2 0 $spacing/2 $spacing/2;
	max-width: 100%;
}

input[type="submit"] {
	width: auto;
}

input[type="file"] {
	position: relative;
	padding: $spacing/2;
	padding-left: 42px;
	&:after {
		content: 'Afbeelding uploaden';
		position: absolute;
		background: $blue;
		left: 5px;
		padding: $spacing/4 $spacing/2;
		color: #fff;
		border-radius: 4px;
		top: 8px;
		transition: 0.3s;
	}
	&:hover {
		&:after {
			background: $dark-blue;
		}
	}
}

.form-select {
	width: 50%;
	margin: 0;
	float: left;
	select {
		width: 90%;
	}
}

/* END Forms input and select */


/* Form Errors
------------------------------------------------------*/
#error_explanation,
.form-errors {
	li, li:last-child {
		border: 1px solid $red;
		background: $soft-red;
		border-radius: 4px;
		padding: $spacing/2;
		color: $red;
		margin: $spacing/2 0;
	}
	h2 {
		font-size: 14px;
		font-weight: normal;
	}
}

.field_with_errors {
	color: $red;
	textarea,
	input {
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(217,83,79,.6);
		border: 1px solid $red;
	}
}

/* Notivication
------------------------------------------------------*/
.notice {
	padding: 12px;
	background: $green;
	box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
	text-align: center;
	color: #fff;
	font-size: 12px;
	position: absolute;
	width: 45%;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	transition: 0.3s;
	z-index: 100;
	&.fail {
		background: $red;
		color: #fff;
	}
	&.js-move {
		top: 62px;
	}
}


/* button, link, edit, delete, added
------------------------------------------------------*/

.btn {
	color: #fff;
	padding: $spacing/4 $spacing/2;
	text-decoration: none;
	border-radius: 4px;
	float: right;
	font-size: 12px;
	border: 1px solid;
	transition: 0.3s;
	cursor: pointer;
	-webkit-appearance: none;
	font-family: $basic-font;
	font-weight: 300;
	font-size: 12px;
	&.edit {
		background: #f7f7f7;
		border-color: $link-color;
		color: $link-color;
		padding-left: $spacing;
		position: relative;
		&:hover {
			background: $basic-color;
			border-color: $basic-color;
			color: #fff !important;
		}
		&.pensil:after {
			left: 5px;
			top: 6px;
		}
	}
	&.delete {
		background: $red;
		border-color: $red;
		&:hover {
			background: $dark-red;
		}
	}
	&.new {
		background: $green;
		border-color: $green;
		&:hover {
			background: $dark-green;
		}
	}
	&.left {
		float: left;
	}
	&.bigger {
		padding: $spacing/2 $spacing*2;
		font-size: 12px;
	}
	&.small {
		padding: $spacing/4 $spacing/2;
	}
	&.plus {
		width: auto;
		padding: $spacing/3+2 $spacing/2 $spacing/3-2 $spacing;
		position: relative;
		margin-top: 6px;
		margin-left: $spacing/2;
		border: 1px solid #fff;
		&:before {
			content: '+';
			position: absolute;
			left: 8px;
			font-size: 20px;
			top: 5px;
		}
		&:hover {
			background: #fff;
			color: $basic-color;
			border: 1px solid #fff;
		}
	}
	&.bread {
		width: auto;
		border: none;
		padding: 16px $spacing/2 14px;
		background: $basic-color;
		border-radius: 0px;
		&:hover {
			background: rgba(51,51,50,.4);
		}
	}
	&.list-edit {
		border: none;
		color: $link-color;
		position: relative;
		transition: 0.3s;
		border-radius: 0;
		right: -110px;
		padding: 18px $spacing 17px;
	}
	&.pensil {
		&:after {
			content: '';
			background: asset_url('pensil.svg');
			position: absolute;
			width: 15px;
			height: 15px;
			left: 0px;
			transition: 0.3s;
		}
		&:hover {
			color: $basic-color;
			&:after {
				
			}
		}
	}
}

.active {
	 > .bread {
		background: rgba(51,51,50,1);
		&:hover {
			background: rgba(51,51,50,1);
			cursor: default;
		}
	}
	> .plus {
		background: #fff;
		color: $basic-color;
	}
}

.link {
	color: #fff;
	text-decoration: none;
	border: none;
	background: #314049;
	&.active,
	&:hover {
		border: none;
		text-decoration: none;
	}
	&.arrow-back {
		position: relative;
		padding-left: $spacing*1.5;
		&:before {
			content: '«';
			position: absolute;
			font-size: 18px;
			left: 17px;
			top: 7px;
		}
	}
	&.arrow-forward {
		position: relative;
		padding-right: $spacing*1.5;
		&:after {
			content: '»';
			position: absolute;
			font-size: 18px;
			right: 17px;
			top: 7px;
		}
	}
} 

.basic-link {
	border: none !important;
	color: #333 !important;
	background: none;
	transition: 0.3s;
	&:hover {
		text-decoration: none;
	}
	&.arrow-forward {
		padding: $spacing/6 18px $spacing/6 $spacing/4;
		border-radius: 4px;
		&:after {
			top: -1px;
			font-size: 18px;
			right: $spacing/6;		
		}
	}
}

.show-btn {
	width: auto !important;
}

/* END button, link, edit, delete, added */


/* Logout 
------------------------------------------------------*/

.logout {
	position: absolute;
	top: $spacing/2;
	right: $spacing/2;
	background: #fff;
}


/* js show hide learn moments */ 

.js-show {
	min-width: 120px;
}
