@import 'variables';

body {
	font-family: $basic-font;
	font-size: 12px;
	min-width: 320px;
	overflow-x: hidden;
	background: #ECEDED;
}

/* little fixes */ 
body, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* END little fixes */

/* framework */

header {
	height: 41px;
	max-width: 1000px;
	margin: 0 auto;
	background: #314049;
	position: relative;
	.btn {
		z-index: 1;
		position: relative;
		padding: $spacing/2 $spacing;
	}
	&:before,
	&:after {
		width: 100%;
		height: 41px;
		content: '';
		position: absolute;
		right: 100%;
		background: #314049;
	}
	&:after {
		right: -100%;
	}
}

.wrapper {
	padding: 0 $spacing/2 $spacing;
	position: relative;
	margin: 0 auto;
	max-width: 970px;
}


footer {
	height: $spacing;
}

.top-nav {
	height: 40px;
	margin: 0 auto;
	max-width: 1000px;
	background: $green;
	position: relative;
	a {
		display: block;
		float: left;
		height: 20px;
		padding: 11px 0 9px;
		width: 33.3%;
		text-align: center;
		color: #fff;
		text-decoration: none;
		position: relative;
		&.active {
			background: $dark-green;
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: 0 auto;
				width: 0; 
				height: 0; 
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
				border-bottom: 8px solid #ECEDED;
			}
		}
	}
	&:before,
	&:after {
		width: 100%;
		height: 40px;
		content: '';
		position: absolute;
		right: 100%;
		top: 0;
		background: $green;
	}
	&:after {
		right: -100%;
	}
}

/* END framework */

h1 {
	font-size: 16px;
	font-weight: 300;
	position: absolute;
  text-indent: 12px;
  top: 0px;
  margin: 0;
  a {
  	color: #fff;
  	text-decoration: none;
  	display: block;
  	padding: 9px 0 10px;
  }
}

h2 {
	font-size: 16px;
	margin: 18px 0;
	i {
		padding-left: 6px;
		font-size: 14px; 
	}
}

.bold {
	font-weight: 600;
}

p {
	line-height: 24px;
}


/* Clear Floated Elements 
------------------------------------------------------*/

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* END Clear floated elements */