@import 'variables';

/* Learning goals
------------------------------------------------------*/

.learning-goals {
	margin: $spacing 0;
	li {
		padding-left: $spacing;
		overflow: hidden;
		&:hover {
			.list-edit {
				right: 0;
			}
		}	
		p {
			padding: 14px;
			margin: 0;
		}
	}
	.odd {
		background: #F7F7F7;
	}
	.even {
		background: #EDEDED;
	}
}

.add-learning {
	margin: $spacing 0;
	textarea {
		min-height: 50px;
	}
}

.not-achieved,
.achieved {
	position: relative;
	&:before {
		height: 15px;
		width: 15px;
		background: asset_url('check.svg');
		content: '';
		left: 14px;
		top: 19px;
		position: absolute;
	}
}

.not-achieved {
	&:before {
		background: asset_url('cross.svg');
	}
}