@import 'variables';

.pop-up {
	position: absolute;
	top: 112px;
	right: 0;
	left: 0;
	margin: 0 auto;
	height: 0px;
	background: #fff;
	z-index: 10000;	
	transition: 0.3s;
  padding: 0;
  overflow: hidden;
	width: 100%;
	max-width: 1200px;
	&.active {
		height: 330px;
	}
	.container {
		padding: $spacing;
	}
}

