@import 'variables';

/* User list */
.users {
	li {
		margin-left: $spacing/2;
		list-style: disc;
		list-style-position: inside;
	}
}

table {
	tr {
		td:first-child {
			padding-right: $spacing/4;
		}
	}
}

.profile-picture {
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius: 4px;
	position: absolute;
	top: 0;
	right: $spacing/2;
}

.user {
	position: relative;
}