@import 'variables';

/* User list */
.users {
	li {
		margin-left: $spacing/2;
		list-style: disc;
		list-style-position: inside;
	}
}

table {
	tr {
		td:first-child {
			padding-right: $spacing/4;
		}
	}
}

.profile-view {
	position: relative;
	h3 {
		font-size: 18px;
		margin-top: 0;
	}
}

.profile-picture {
	width: 100px;
	height: 100px;
	float: left;
	overflow: hidden;
	border-radius: 100%;
	margin-right: $spacing;
	img {
		max-width: 100px;
	}
}

.user {
	position: relative;
}