<h4 class='border-none'>Leerdoel bewerken</h4>

<%= render 'form' %>

<%= link_to 'Verwijderen?', delete_learning_goal_path, remote: true, class: 'btn delete', data_message: 'Weet je zeker dat je: ' + @learning_goal.title, data_id: @learning_goal.id %>