var el = 0;

$('.learning-goals').find('li').each(function() {
	if ($(this).attr('data-id') == <%= @learning_goal.id %>) {
		el = $(this);
	}
});

$('.left .container .view').append('<div class="edit-form clearfix"><div><%= j render "edit" %></div></div>')

if ($('body').find('.new_learning_goal').length > 0) {
	el.addClass('active');
	el.find('a').addClass('active');
} else {
	el.addClass('active').siblings().removeClass('active');
	el.parent().find('a').removeClass('active');
	el.find('a').addClass('active');
}
