var el = 0;

$('.learning-goals').find('li').each(function() {
	if ($(this).attr('data-id') == <%= @learning_goal.id %>) {
		el = $(this);
	}
});

if ($('.left').find('.edit-form').length > 0) {
	$('.edit-form').remove();
}
$('.left .container .view').append('<div class="edit-form clearfix"><div><%= j render "edit" %></div></div>')

el.addClass('active').siblings().removeClass('active');
el.parent().find('a').removeClass('active');
el.find('a').addClass('active');